<figure>
  <img src="{{ author.avatar }}">
</figure>

<h4>
  {{ author.display_name }}
</h4>

<p>{{ author.description }}</p>

{% if author.user_url %}
  <p>
    Website: <a href="{{ author.user_url }}"> {{ author.user_url }} </a>
  </p>
{% endif %}

<p>
  <a href="{{ author.link }}">
    See all posts by {{ author.display_name }}
  </a>
<p>