{% extends "layout.twig" %}
{% block content %}

{# Content #}
<article class="the-content">
  {# featured image #}
  <figure>
    <img src="{{ p.thumbnail.src('large') }}" alt="{{ post.title }}">
  </figure>

  <header>
    <h1>{{ post.title }}</h1>
    <p>
      Written by {{ post.author.display_name }} on <time>{{ post.post_date | date }}</time>
    </p>
  </header>

  {{ post.content }}  

  {# author info #}
  <footer>
    <img src="{{ author.avatar }}">
    <h4> {{ author.display_name }} </h4>
    <p>{{ author.description }}</p>

    {% if author.user_url %}
      <p>
        Website: <a href="{{ author.user_url }}"> {{ author.user_url }} </a>
      </p>
    {% endif %}

    <a href="{{ author.link }}">
      See all posts by {{ author.display_name }}
    </a>
  </footer>
</article>

{% endblock %}